.selected{
    fill: #007bff !important
}

.highlighted{
    fill: #17a2b8 !important
}

.correct{
    fill: #28a745 !important
}

.wrong{
    fill: #dc3545 !important
}

.wrongRule{
    fill: #ffc107 !important
}

.altera{
    fill: #E39959 !important;
    color: #E39959 !important;
}
.imperfecta{
    fill: #A5A650 !important;
    color: #A5A650 !important;
}
.perfecta{
    fill: #BA4758 !important;
    color: #BA4758 !important;
}
.simpleDot{
    fill: #7834BA!important;
    color: #7834BA!important;
}
.non-standard{
    fill: #3da4ba !important;
    color: #3da4ba !important;
}

.horizontal-overflow{
    overflow-x: auto;
}