---
layout: interpreter
title: Interpreter
---

<!-- Content -->
<div class="container-fluid">
   <div class="row flex-xl-nowrap">
        {% include elementInfoBar.html %}
        <div class="col-xl-10 col-lg-9 col-md-8">
            <div id="vrvOutput"></div>
        </div>
   </div>
</div>
{% include sectionBlocksInfo.html %}

<script src="./js/MEIdoc.js"></script>
<script src="./js/ioHandler.js"></script>
<script src="./js/vrvInterface.js"></script>
<script src="./js/interpreter/utils/durationUtils.js"></script>
<script src="./js/interpreter/utils/rhythmMensUtils.js"></script>
<script src="./js/interpreter/utils/startTimes.js"></script>
<script src="./js/interpreter/imperfection.js"></script>
<script src="./js/interpreter/alteration.js"></script>
<script src="./js/interpreter/beatIndependentDurations.js"></script>
<script src="./js/interpreter/complexBeatAnalysis.js"></script>
<script src="./js/interpreter/postprocessing.js"></script>
<script src="./js/interpreterMain.js"></script>