<div id="side" class="col-xl-2 col-lg-3 col-md-4 bg-light">
    <button id="hideInfo" class="btn btn-secondary btn-sm float-right m-1" disabled>Clear</button>
    <button class='btn btn-outline-info btn-sm float-right mt-1' data-toggle="modal" data-target="#help">?</button>
    <div id="elementInfo">
        <h3>Element info</h3>
        <div id="basic" hidden>
            <h4>Basic info</h4>
            <dl id='attList' class='row'>
                <!-- insert pname, oct, dur for notes/rests, everything except xml:id for dots, mensur & proport -->
            </dl>
            <div class="dropdown-divider"></div>
        </div>
        <div id="interpreterResult" hidden>
            <button id='formHelp' class='btn btn-outline-info btn-sm float-right mt-1' data-toggle="modal" data-target="#interpreterHelp">?</button>
            <h4>Interpreter modification</h4>
            <div class="input-group">
                <label class="col-sm-3 col-form-label">Rule</label>
                <input id="ruleInterpreter" type="text" class="form-control dyValuePlaceholder" data-toggle="tooltip"
                    title="" placeholder="" readonly disabled/>
                <select id="ruleUser" class="form-control interpreterInput custom-select">
                    <option disabled selected>...</option>
                    <optgroup label="Imperfection">
                    {% for rule in site.data.rules %}
                        {% if rule.type == "imperfection" %}
                            <option title="{{rule.definition}}"  data-toggle="tooltip">{{rule.rule}}</option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                    <optgroup label="Alteration">
                    {% for rule in site.data.rules %}
                        {% if rule.type == "alteration" %}
                            <option title="{{rule.definition}}"  data-toggle="tooltip">{{rule.rule}}</option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                    <optgroup label="Beat independent">
                    {% for rule in site.data.rules %}
                        {% if rule.type == "beatIndependent" %}
                            <option title="{{rule.definition}}"  data-toggle="tooltip">{{rule.rule}}</option>
                        {% endif %}
                    {% endfor %}
                    </optgroup>
                </select>
            </div>
            <div class="input-group">
                <label class="col-sm-3 col-form-label">Quality</label>
                <input id="durqualityInterpreter" type="text" class="form-control dyValuePlaceholder" data-toggle="tooltip"
                title="" placeholder="" disabled readonly/>
                <select id="durqualityUser" class="form-control interpreterInput custom-select">
                    <option disabled selected>...</option>
                    <option>imperfecta</option>
                    <option>perfecta</option>
                    <option>altera</option>
                    <option>none</option>
                </select>
            </div>
            <div class="form-row justify-content-end">
                <div class="input-group input-group-sm col-sm-4">
                    <label class="col-form-label col-form-label-sm">num</label>
                    <input id="numInterpreter" type="text" class="form-control dyValuePlaceholder" placeholder="" disabled readonly/>
                    <input id="numUser" type="text" class="form-control interpreterInput" />
                </div>
                <div class="input-group input-group-sm col-sm-5">
                    <label class="col-form-label col-form-label-sm">numbase</label>
                    <input id="numbaseInterpreter" type="text" class="form-control dyValuePlaceholder" placeholder="" disabled readonly/>
                    <input id="numbaseUser" type="text" class="form-control interpreterInput" />
                </div>
            </div>
            <div class="input-group">
                <label class="col-sm-3 col-form-label">Dur in minims</label>
                <input id="durmetricalInterpreter" type="text" class="form-control dyValuePlaceholder" placeholder="" disabled readonly/>
                <input id="durmetricalUser" type="text" class="form-control interpreterInput" placeholder="user input" />
            </div>
            <div class="input-group my-sm-2">
                <input id="userName" type="text" class="form-control" placeholder="Your name" />
                <input id="userInitials" type="text" class="form-control" placeholder="initials" />
                <div class="input-group-append">
                    <button id="submitFeedback" type="button" class="btn btn-info">Save</button>
                </div>  
            </div>
            <div id="additional">
                <div class="dropdown-divider"></div>
                <h4>Additional info</h4>
                <dl id='addAttList' class='row'>
                    <!-- insert pname, oct, dur for notes/rests, everything except xml:id for dots, mensur & proport -->
                </dl>
            </div>
            <div id="positions" hidden>
                <div class="dropdown-divider"></div>
                <button id='pos' class='btn btn-outline-info btn-sm float-right mt-1' data-toggle="modal" data-target="#positioning">?</button>
                <h4>Position within blocks</h4>
                <dl id='posAttList' class='row'>
                    <dt id="beatPosDt" class='col-4 text-truncate'>beatPos</dt>
                    <dd id="beatPosDd" class='col-8'>
                        <table>
                            <thead>
                                <tr>
                                    <td>&#x1D1BC;</td>
                                    <td>&#x1D1BB;</td>
                                    <td>&#x1D1B9;</td>
                                    <td>&#x1D1B8;</td>
                                    <td>&#x1D1B7;</td>
                                    <td>&#x1D1B6;</td>
                                </tr>
                            </thead>
                            <tr>
                                <td class="dyValueContainer" id="beatPos0"></td>
                                <td class="dyValueContainer" id="beatPos1"></td>
                                <td class="dyValueContainer" id="beatPos2"></td>
                                <td class="dyValueContainer" id="beatPos3"></td>
                                <td class="dyValueContainer" id="beatPos4"></td>
                                <td class="dyValueContainer" id="beatPos5"></td>
                            </tr>
                            <tr>
                                <td class="dyValueContainer" id="beatPosCorr0"></td>
                                <td class="dyValueContainer" id="beatPosCorr1"></td>
                                <td class="dyValueContainer" id="beatPosCorr2"></td>
                                <td class="dyValueContainer" id="beatPosCorr3"></td>
                                <td class="dyValueContainer" id="beatPosCorr4"></td>
                                <td class="dyValueContainer" id="beatPosCorr5"></td>
                            </tr>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
