<div class="modal fade" id="interpreterHelp" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>To evaluate the interpreter results, please add quality or num/numbase, rule and duration in minims.</p>
                <p>
                    The <strong>quality</strong> of a note is added only in cases of ambiguity according (following the current mensuration). 
                    Please do not use e.g. "perfecta" for already perfect notes. To remove an erroneously set quality choose "none".
                </p>
                <p>
                    While quality is used for standard imperfection/alteration, <strong>num/numbase</strong> is used for cases of partial imperfection.<br />
                    An example: Given the change in the longa's value <em>from 6 semibreves to 5 semibreves</em>, the correct values would be
                     <em>num="6"</em> and <em>numbase="5"</em>.
                </p>
                <p>Make sure to have added your name and initials before saving (otherwise it breaks). Thanks!</p>
            </div>  
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>