<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">EMT rocks!</a>
    <div class="btn-group" role="group" aria-label="Scroll">
      <button id="vrvBack" type="button" class="btn btn-secondary">&lt;&lt;</button>
      <button id="vrvPageN" type="button" class="btn btn-light">0/0</button>
      <button id="vrvForw" type="button" class="btn btn-secondary">&gt;&gt;</button>
    </div>
    <form class="form-inline">
        <input id="url" class="form-control mr-sm-2" type="url" placeholder="URL">
        <button id="load" type="submit" class="btn btn-success mr-1">Load</button>
      </form>
  </nav>